{# Keyword lines, "simple input" #}
{% block kwlines -%}
    {{ config.kwlines }}
{% endblock kwlines -%}

{# Include extra blocks #}
{% for block_name, block_content in config.extra_blocks.items() %}


%{{ block_name }}
{{ block_content }}
end
{% endfor %}

{# Dynamically include block templates #}
{% for block_name, block_data in config.blocks.items() %}
    {% with block=block_data %}
        {%- include block_name + ".jinja" with context -%}
    {% endwith %}
{% endfor %}
{# Include coordinates #}
{%- include "coord.jinja" with context -%}
